.gradle/
.idea/
/build/
/vendor/
/.tools/
/bin/
/tmp/
/.settings/
generated/

*.tmp
*.bak
*.swp
*.jar

local.properties
.loadpath
.recommenders

!gradle-wrapper.jar
/run.sh
*.env

.classpath
.project
.settings
*~
.*~
