.gradle/
.idea/
/build/
/vendor/
/.tools/

/tmp/
generated/

*.tmp
*.bak
*.swp
*.jar

local.properties
.loadpath
.recommenders

!gradle-wrapper.jar
/run.sh
*.env

/bin
.project
.settings
.classpath

*~
.*~
