
# github user and token are needed to fetch packages for builds
GITHUB_USER=
GITHUB_TOKEN=

# set database forwards
DBFORWARD_DB1= # e.g. ares9.penn.apidb.org
DBFORWARD_DB1_PORT= # e.g.5009

DBFORWARD_DB2= # e.g. ares11.penn.apidb.org
DBFORWARD_DB2_PORT= # e.g. 5011

# host to forward through, i.e. neo@matrix.server.edu
DBFORWARD_USER=
DBFORWARD_HOST=

# your database username & password
DB_USERNAME=
DB_PASSWORD=

# the secret
AUTH_SECRET_KEY=

# these are needed for the dataset access service
SMTP_HOST=127.0.0.1
SUPPORT_EMAIL=test@example.com

# set database variables.  You may need to adjust the port to reflect where
# your databases are.  

# Note that because docker-compose doesn't expand vars defined in .env, you'll
# need to duplicate the values below, and not just use the variable.  The
# variable you'll need to use is referenced as a comment

APP_DB_NAME=
APP_DB_PORT= # ${DBFORWARD_DB2_PORT}
APP_DB_USER= # ${DB_USERNAME}
APP_DB_PASS= # ${DB_PASSWORD}
APP_DB_HOST=dbforward

USER_DB_NAME=
USER_DB_PORT= # ${DBFORWARD_DB2_PORT}
USER_DB_USER= # ${DB_USERNAME}
USER_DB_PASS= # ${DB_PASSWORD}
USER_DB_HOST=dbforward

ACCT_DB_NAME=
ACCT_DB_PORT= # ${DBFORWARD_DB2_PORT}
ACCT_DB_USER= # ${DB_USERNAME}
ACCT_DB_PASS= # ${DB_PASSWORD}
ACCT_DB_HOST=dbforward

# set the name of the project for consistency
COMPOSE_PROJECT_NAME=eda_dev

# it is nice to run servers on 80 within containers
SUBSETTING_SERVER_PORT=80
MERGING_SERVER_PORT=80
DATA_SERVER_PORT=80
USER_SERVER_PORT=80
DATASET_ACCESS_SERVER_PORT=80

